body {

	background-color: whitesmoke;
    font-family: sans-serif;
    font-size: 18;
    padding-left: 50px;
    padding-right: 70px;
    padding-bottom: 70px;
    padding-top: 40px;
    border-width: 30px;
   }

img {
	padding-left: 300px;
	padding-right: 100px;
	height: 400px;
	width: 700px;

}

h2 { 

	font-family: sans-serif;
	font-size: 25; 
	font-style: italic;
}